<div class="wrapper">

  <div class="sidebar-wrapper container">
    <div class="row">
      <div class="col-md-12 keyboard" id="root">
        <script>
          kaseyIsGreat();
        </script>
      </div>
    </div>
  </div>

  <div class="page-content-wrapper">
    <div class="container">
      <!-- Validation failure messages -->
      <% if @comment.errors.any? %>
        <% @comment.errors.full_messages.each do |message| %>
          <div class="alert alert-dismissable alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <%= message %>
          </div>
        <% end %>
      <% end %>

      <div class="row padding-inside-top-sm status-scroll">
        <table class="col-md-11 status-feed">
          <tr>

            <td class="col-md-offset-1 col-md-1 status-user" rowspan="<%= @status.comments.count*2 + 2 %>">
              <div class="status-pic-box pic-box">
                <a href="/users/<%= @status.user_id %>"><img class="profilepic" src="<%= @status.user.profile_pic %>" /></a>
              </div>
            </td>

            <td class="col-md-8 status" colspan="3">
              <a href="/users/<%= @status.user_id %>"><h4 class="feed"><%= @status.user.first_name + " " + @status.user.last_name %></h4></a>
              <h3><%= @status.status %></h3>
            </td>
          </tr>

          <tr>
            <td class="time time-add-comment" colspan="3">
              <h6><%= time_ago_in_words(@status.created_at.in_time_zone("Central Time (US & Canada)")) %> ago</h6>
            </td>
          </tr>

          <% @status.comments.each do |comment| %>
            <tr>
              <td class="col-md-1 comment-user" rowspan="2">
                <div class="commenter-pic commenter-pic-box">
                  <a href="/users/<%= comment.user_id %>"><img class="profilepic" src="<%= comment.user.profile_pic %>" /></a>
                </div>
              </td>

              <td class="col-md-8 comment" rowspan="2">
                <a href="/users/<%= comment.user.id %>"><h5><b><%= comment.user.first_name + " " + comment.user.last_name %></b></h5></a>
                <h5><%= comment.body %></h5>
              </td>

              <td class="col-md-3 status-controls" colspan="1">
              </td>
            </tr>

            <tr>
              <td class="col-md-3 time">
                <h6><%= time_ago_in_words(comment.created_at.in_time_zone("Central Time (US & Canada)")) %> ago </h6>
              </td>
            </tr>
            <% end %>
        </table>
      </div>

      <!-- Comment form -->
      <div class="row padding-inside-top-sm">
        <div class="col-md-11">
          <form class="form-inline" action="/update_comment/<%= @comment.id %>" method="post">
            <!-- Hidden input for authenticity token to protect from forgery -->
            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

            <!-- Label and input for status -->
            <div class="form-group comment-form col-md-11">

              <input type="text" id="emoji-input" name="body" class="form-control input-lg" placeholder="Add a comment..." value="<%= @comment.body %>">
            </div>

            <!-- Hidden input for user_id -->
            <div class="form-group">
              <input type="hidden" id="user_id" name="user_id" class="form-control" value="<%= current_user.id %>">
            </div>

            <!-- Hidden input for status_id -->
            <div class="form-group">
              <input type="hidden" id="status_id" name="status_id" class="form-control" value="<%= @comment.status_id %>">
            </div>

            <button class="btn btn-success btn-comment-edit">
              Update
            </button>

          </form>
        </div>
      </div>
    </div>
</div>

<script>
  var emojiInput = document.getElementById("emoji-input");
  emojiInput.onkeypress = function(e) {
    e.preventDefault();
    return false;
  };
</script>

<!-- <script>
  function convert() {
    var nativeStatus = document.getElementById("emoji-input").value;
    var emojioneStatus = emojione.unicodeToImage(nativeStatus);
    document.getElementById("emoji-input").value = emojioneStatus;
  }
</script> -->
