<div class="wrapper">

  <div class="sidebar-wrapper container">
    <div class="row">
      <div class="col-md-12 keyboard" id="root">
        <script>
          kaseyIsGreat();
        </script>
      </div>
    </div>
  </div>

  <div class="page-content-wrapper">
    <div class="container">
      <!-- Validation failure messages -->
      <% if @status.errors.any? %>
        <% @status.errors.full_messages.each do |message| %>
          <div class="alert alert-dismissable alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <%= message %>
          </div>
        <% end %>
      <% end %>

      <div class="row padding-inside-top-sm status-heading">
        <div class="col-md-12">
          <h3>Edit Status</h3>
          <hr>
        </div>
      </div>

      <div class="row padding-inside-top-sm">
        <div class="col-md-12">
          <form class="form-inline" action="/update_status/<%= @status.id %>" method="post">
            <!-- Hidden input for authenticity token to protect from forgery -->
            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

            <!-- Label and input for status -->
            <div class="form-group comment-form col-md-11">

              <input type="text" id="emoji-input" name="status" placeholder="Status" class="form-control input-lg" value="<%= @status.status %>">
            </div>

            <!-- Hidden input for user_id -->
            <div class="form-group">
              <input type="hidden" id="user_id" name="user_id" class="form-control" value="<%= current_user.id %>">
            </div>

            <button class="btn btn-success btn-comment-edit" onclick="convert()">
              Update
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var emojiInput = document.getElementById("emoji-input");
  emojiInput.onkeypress = function(e) {
    e.preventDefault();
    return false;
  };
</script>

<!-- <script>
  function convert() {
    var nativeStatus = document.getElementById("emoji-input").value;
    var emojioneStatus = emojione.unicodeToImage(nativeStatus);
    document.getElementById("emoji-input").value = emojioneStatus;
  }
</script> -->
