<div class="container">

  <!-- Add status -->
  <div class="row">
    <div class="col-md-offset-1 col-md-10  margin-above-top-md padding-inside-top-xs content">

      <form action="/create_status" method="post">

        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

        <div class="form-group">
          <label for="status">Post a new status</label>
          <hr>
          <input class="form-control" id="status" type="text" name="status" placeholder="How are you feeling today?">
          <hr>
        </div>

        <input type="hidden" name="user_id" value="<%= current_user.id %>">
      </form>
    </div>
  </div>

  <div class="row padding-inside-top-sm">

  </div>

  <% @statuses.each do |status| %>
    <div class="row padding-inside-top-xs padding-inside-bottom-xs margin-above-top-xs">
      <table class="col-md-offset-1 col-md-10">
        <tr>

          <td class="col-md-offset-1 col-md-1 status-user">
            <div class="status-pic-box pic-box">
              <a href="/users/<%= status.user_id %>"><img class="profilepic" src="<%= status.user.profile_pic %>" /></a>
            </div>
          </td>

          <% if status.user_id == current_user.id %>
          <td class="col-md-8 status">
          <% else %>
          <td class="col-md-9 status">
          <% end %>
            <a href="/users/<%= status.user_id %>"><h4><%= status.user.first_name + " " + status.user.last_name %></h4></a>
            <h5><%= status.status %></h5>
            <h6><%= time_ago_in_words(status.created_at.in_time_zone("Central Time (US & Canada)")) %> ago</h6>
          </td>

          <%if status.user_id == current_user.id %>
            <td class="col-md-1 status-controls">
              <h6><a href="/statuses/<%= status.id %>/edit">Edit</a></h6>
              <h6><a href="/delete_status/<%= status.id %>">Delete</a></h6>
            </td>
          <% end %>
        </tr>
      </table>
    </div>
  <% end %>

  <div class="row padding-inside-top-sm">

  </div>
</div>
