<div class="container">
  <div class="row padding-inside-top-md">
    <div class="col-md-12 follow-heading">
      <% if @user == current_user %>
      <h2>People <a class="btn-link" href="/users/<%= @user.id %>">You</a> are Following</h2>
      <% else %>
      <h2>People <a class="btn-link" href="/users/<%= @user.id %>"><%= @user.first_name %></a> is Following</h2>
      <% end %>
      <hr>
    </div>
  </div>

  <% @user.friends_where_sender.each do |user| %>
  <div class="row padding-inside-top-sm">
    <table class="col-md-offset-1 col-md-10 users-search content">
      <tr>
        <td class="col-md-2 user-pic" rowspan="2">
          <div class="profile-pic-box pic-box">
            <% if user.profile_pic.file == nil %>
              <a href="/users/<%= user.id %>"><img class="profilepic" src="/images/empty_profile_pic.png" /></a>
            <% else %>
              <a href="/users/<%= user.id %>"><img class="profilepic" src="<%= user.profile_pic %>" /></a>
              <% end %>
          </div>
        </td>

        <td class="friend-request-box">
          <% if (current_user.friends_where_sender.include? user) != true %>
          <% if user != current_user %>
            <form action="/create_friend_request" method="post">
              <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

              <input type="hidden" name="sender_id" value="<%= current_user.id %>">

              <input type="hidden" name="receiver_id" value="<%= user.id %>">

              <button class="btn-link"><i class="fa fa-user-plus" aria-hidden="true"></i></button>
            </form>
          <% end %>

          <% else %>
            <a href="/delete_friend_request/<%= FriendRequest.find_by({ :sender_id => current_user.id, :receiver_id => user.id}).id %>"><i class="fa fa-user-times" aria-hidden="true"></i></a>
          <% end %>
        </td>

        <td class="col-md-9 name-box" colspan="2">
          <h3><a href="/users/<%= user.id %>"><%= user.first_name + " " + user.last_name %></a></h3>
        </td>
      </tr>

      <tr>
        <td></td>
        <td class="col-md-2 follower-box">
          <h4>Followers <a class="btn-link" href="/users/<%= user.id %>/followers"><%= user.friends_where_receiver.count %></a></h4>
        </td>
        <td class="following-box">
          <h4>Following <a class="btn-link" href="/users/<%= user.id %>/following"><%= user.friends_where_sender.count %></a></h4>
        </td>
      </tr>
    </table>

  </div>
  <% end %>
</div>
