<div class="wrapper">

  <!-- Sidebar -->
  <div class="sidebar-wrapper container">

      <div class="row padding-inside-top-sm">
        <div class="col-md-12 profile-pic-box pic-box">
          <% if @user.profile_pic.file != nil %>
            <img class="profilepic" src="<%= @user.profile_pic %>" />
          <% else %>
            <img class="profilepic" src="/images/empty_profile_pic.png" />
          <% end %>
        </div>
      </div>

      <div class="row padding-inside-top-xs">
        <div class="col-md-12">
          <table class="profile-info col-md-12">
            <tr>
              <td>
                <h4><%= @user.first_name + " " + @user.last_name %></h4>
              </td>

              <td class="follow-box">
                <% if (current_user.friends_where_sender.include? @user) != true %>
                <% if @user != current_user %>
                  <form action="/create_friend_request" method="post">
                    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

                    <input type="hidden" name="sender_id" value="<%= current_user.id %>">

                    <input type="hidden" name="receiver_id" value="<%= user.id %>">

                    <button class="btn-link"><i class="fa fa-user-plus" aria-hidden="true"></i></button>
                  </form>
                <% end %>

                <% else %>
                  <a href="/delete_friend_request/<%= FriendRequest.find_by({ :sender_id => current_user.id, :receiver_id => @user.id}).id %>"><i class="fa fa-user-times" aria-hidden="true"></i></a>
                <% end %>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="row padding-inside-top-xs">
        <div class="col-md-12">
          <table class="profile-info">
            <tr>
              <td width="25px">
                <h5><i class="fa fa-birthday-cake" aria-hidden="true"></i></h5>
              </td>
              <% if @user.birthday != nil %>
              <td>
                <h5><%= @user.birthday.strftime("%B %-d, %Y") %></h5>
              </td>
              <% else %>
              <td>
                <h5>Ageless</h5>
              </td>
              <% end %>
            </tr>

            <tr>
              <td>
                <h5><i class="fa fa-map-marker" aria-hidden="true"></i></h5>
              </td>
              <% if @user.location != nil %>
              <td>
                <h5><%= @user.location %></h5>
              </td>
              <% else %>
              <td>
                <h5>Earth, Solar System, Sector ZZ9 Plural Z Alpha</h5>
              </td>
              <% end %>
            </tr>
          </table>
        </div>
      </div>

      <div class="row padding-inside-top-xs">
        <div class="col-md-12">
          <table class="profile-info">
            <tr class="padding-inside-top-xs">
              <td class="friends-box" rowspan="2 ">
                <h5><i class="fa fa-users" aria-hidden="true"></i></h5>
              </td>

              <td class="col-md-4">
                <h5>Followers</h5>
              </td>

              <td class="col-md-4">
                <h5>Following</h5>
              </td>
            </tr>

            <tr class="friend-count">
              <td class="col-md-4">
                <a class="btn-link" href="/users/<%= @user.id %>/followers"><h3><%= @user.friends_where_receiver.count %></h3></a>
              </td>

              <td class="col-md-4">
                <a class="btn-link" href="/users/<%= @user.id %>/following"><h3><%= @user.friends_where_sender.count %></h3></a>
              </td>
            </tr>
          </table>
        </div>
      </div>
  </div>


    <!-- Page content -->
    <div class="page-content-wrapper">
      <div class="container">
        <div class="row padding-inside-top-md padding-inside-bottom-sm">

          <div class="col-md-11 new-status-col">
            <a class="btn btn-primary new-status" href="/statuses/new"><i class="fa fa-commenting" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i></a>
          </div>
        </div>


        <!-- Most current status -->
        <div class="row padding-inside-top-xs">
          <table class="col-md-11 status-feed">
            <tr>
              <td class="col-md-10 status" colspan="2">
                <% if @user.id == current_user.id %>
                  <% if @statuses.any? == false %>
                    <h3>You have no statuses!</h3>
                  <% else %>
                    <h3><%= @current.status %></h3>
                  <% end %>
                <% else %>
                  <% if @statuses.any? == false %>
                    <h3><%= @user.first_name %> has no statuses!</h3>
                  <% else %>
                    <h3><%= @current.status %></h3>
                  <% end %>
                <% end %>
              </td>

              <td class="col-md-2 status-controls">
                <% if @user.id == current_user.id %>
                  <% if @statuses.any? == false %>
                    <a class="btn btn-primary" href="/statuses/new"><i class="fa fa-commenting" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i></a>
                  <% else %>
                    <a class="btn btn-default" href="/statuses/<%= @current.id %>/edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <a class="btn btn-default trash" href="/delete_status/<%= @current.id %>"><i class="fa fa-trash" aria-hidden="true"></i></a>
                  <% end %>
                <% end %>
              </td>
            </tr>

            <tr>
              <td class="col-md-1 react">
                <% if @statuses.any? == false %>
                  <a class="btn btn-default react-btn" href="/<%= @current.id %>/comments/new"><h5><span class="fa-stack"><i class="fa fa-comment-o fa-stack-2x" aria-hidden="true"></i><i class="fa fa-smile-o fa-stack-1x" aria-hidden="true"></i></span><i class="fa fa-plus" aria-hidden="true"></i></h5></a>
                <% end %>
              </td>

              <td class="time" colspan="2">
                <% if @statuses.any? == false %>
                  <h6><%= time_ago_in_words(@current.created_at.in_time_zone("Central Time (US & Canada)")) %> ago</h6>
                <% end %>
              </td>
            </tr>

            <% if @statuses.any? == false %>
            <% @current.comments.each do |comment| %>
            <tr>

              <td class="col-md-1 comment-user" rowspan="2">
                <div class="commenter-pic commenter-pic-box">
                  <a href="/users/<%= comment.user_id %>"><img class="profilepic" src="<%= comment.user.profile_pic %>" /></a>
                </div>
              </td>

              <td class="col-md-9 comment" rowspan="2">
                <a href="/users/<%= comment.user.id %>"><h5><b><%= comment.user.first_name + " " + comment.user.last_name %></b></h5></a>
                <h5><%= comment.body %></h5>
              </td>

              <td class="col-md-3 status-controls" colspan="1">
                <%if comment.user_id == current_user.id %>
                  <a class="btn btn-default" href="/comments/<%= comment.id %>/edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                  <a class="btn btn-default" href="/delete_comment/<%= comment.id %>"><i class="fa fa-trash" aria-hidden="true"></i></a>
                <% end %>
              </td>
            </tr>

            <tr>
              <td class="col-md-3 time">
                <h6><%= time_ago_in_words(comment.created_at.in_time_zone("Central Time (US & Canada)")) %> ago</h6>
              </td>
            </tr>
            <% end %>
            <% end %>
          </table>
        </div>


        <!-- All other statuses -->

          <% @statuses.drop(1).each do |status| %>
            <div class="row padding-inside-top-xs">
              <table class="col-md-11 status-feed">
                <tr>

                  <td class="col-md-10 status" colspan="2">
                    <h4 class="profile"><%= status.status %></h4>
                  </td>

                  <td class="col-md-2 status-controls">
                  <% if @user.id == current_user.id %>
                    <a class="btn btn-default" href="/statuses/<%= status.id %>/edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <a class="btn btn-default trash" href="/delete_status/<%= status.id %>"><i class="fa fa-trash" aria-hidden="true"></i></a>
                  <% end %>
                  </td>
                </tr>

                <tr>
                  <td class="col-md-1 react">
                    <a class="btn btn-default react-btn" href="/<%= status.id %>/comments/new"><h5><span class="fa-stack"><i class="fa fa-comment-o fa-stack-2x" aria-hidden="true"></i><i class="fa fa-smile-o fa-stack-1x" aria-hidden="true"></i></span><i class="fa fa-plus" aria-hidden="true"></i></h5></a>
                  </td>

                  <td class="time" colspan="2">
                    <h6><%= time_ago_in_words(status.created_at.in_time_zone("Central Time (US & Canada)")) %> ago</h6>
                  </td>
                </tr>

                <% status.comments.each do |comment| %>
                <tr>

                  <td class="col-md-1 comment-user" rowspan="2">
                    <div class="commenter-pic commenter-pic-box">
                      <a href="/users/<%= comment.user_id %>"><img class="profilepic" src="<%= comment.user.profile_pic %>" /></a>
                    </div>
                  </td>

                  <td class="col-md-9 comment" rowspan="2">
                    <a href="/users/<%= comment.user.id %>"><h5><b><%= comment.user.first_name + " " + comment.user.last_name %></b></h5></a>
                    <h5><%= comment.body %></h5>
                  </td>

                  <td class="col-md-3 status-controls" colspan="1">
                    <%if comment.user_id == current_user.id %>
                      <a class="btn btn-default" href="/comments/<%= comment.id %>/edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                      <a class="btn btn-default" href="/delete_comment/<%= comment.id %>"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    <% end %>
                  </td>
                </tr>

                <tr>
                  <td class="col-md-3 time">
                    <h6><%= time_ago_in_words(comment.created_at.in_time_zone("Central Time (US & Canada)")) %> ago</h6>
                  </td>
                </tr>
                <% end %>
              </table>
            </div>
          <% end %>

          <div class="row padding-inside-top-sm">

          </div>
      </div>
    </div>
  </div>
