<div class="page-header">
  <h3>Reaction #<%= @reaction.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Reaction</dt>
      <dd><%= @reaction.reaction %></dd>

      <dt>Status</dt>
      <dd><%= @reaction.status_id %></dd>

      <dt>User</dt>
      <dd><%= @reaction.user_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/reactions" class="btn btn-primary">
        Back
      </a>
      <a href="/reactions/<%= @reaction.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_reaction/<%= @reaction.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
