<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>HI!roglyph</title>

  <script src="https://cdn.jsdelivr.net/react/0.14.0-rc1/react.js"></script>
  <script src="https://cdn.jsdelivr.net/react/0.14.0-rc1/react-dom.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Megrim|Roboto:300,400,700" rel="stylesheet">

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.5/sandstone/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <style>
    /* Only necessary if you are using navbar-fixed-top */
    body {
      padding-top: 80px;
    }
  </style>


  <%= javascript_include_tag "jquery.min.js" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    "picker", :media => "all" %>
  <%= javascript_include_tag "bundle" %>
  <%= javascript_include_tag "jquery" %>

  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
</head>


<body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="col-md-4" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <% if current_user != nil %>
            <li class="pic-box nav-pic-box"><a href="/users/<%= current_user.id %>">
            <% if current_user.profile_pic.file != nil %>
              <img class="profilepic" src="<%= current_user.profile_pic %>" />
            <% else %>
              <img class="profilepic" src="/images/empty_profile_pic.png" />
            <% end %>
            </a></li>
          <% end %>
          <li><a href="/statuses"><i class="fa fa-comments fa-2x" aria-hidden="true"></i></a></li>
          <li><a href="/#"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a></li>
        </ul>
      </div>

      <div class="col-md-4 navbar-mid">
        <a href="/" class="navbar-brand">
          <span><img src="/images/hieroglyph.png"/></span> HI!roglyph</a>
      </div>

      <div class="col-md-4" id="bs-example-navbar-collapse-1">
        <% if current_user != nil %>
        <form class="navbar-form navbar-left" action="/users">
          <div class="form-group">
            <label for="search"><i class="fa fa-search fa-2x" aria-hidden="true"></i></label>
            <input type="text" name="search" id="search" class="form-control" placeholder="Search">
          </div>
        </form>
        <% end %>

        <ul class="nav navbar-nav navbar-right">
          <% if current_user != nil %>
            <li><a href="/users/edit"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></a></li>
            <li><a href="/users/sign_out" data-method="delete" rel="nofollow"><i class="fa fa-sign-out fa-2x" aria-hidden="true"></i></a></li>
          <% else %>
            <li><a href="/users/sign_up"><i class="fa fa-user fa-2x" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i></a></li>
            <li><a href="/users/sign_in"><i class="fa fa-sign-in fa-2x" aria-hidden="true"></i></a></li>
          <% end %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
  </nav>

  <div class="container">
    <% if notice.present? %>
      <div class="alert alert-dismissable alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= notice %>
      </div>
    <% end %>

    <% if alert.present? %>
      <div class="alert alert-dismissable alert-warning">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= alert %>
      </div>
    <% end %>

    <%= yield %>
  </div>
</body>
</html>
